{% extends 'base.html.twig' %}

{% block title %}Adveris - Projet - {{ project.name }}{% endblock title %}

{% block body %}
    <h2>{% if mode == "add" %}Nouveau Projet{% else %}Projet #{{ project.id }}{% endif %}</h2>
    {{ form_start(form) }}
    <div class="card">
        <div class="card-header">
            <div class="btn-group float-end">
                <a href="{{ path("app_project_index") }}" class="btn btn-secondary">Annuler</a>
                {{ form_widget(form.submit, {attr: {class: "btn btn-primary"}}) }}
            </div>
            <h3>{% if mode == "add" %}Ajout d'un Nouveau Projet{% else %}Edition du Projet {{ project.name }}{% endif %}</h3>
        </div>
        <div class="card-body">
            {% for formName, formItem in form %}
                {% if formName not in ["submit", "_token"] %}
                    <div class="row">
                        <div class="col-2">{{ form_label(formItem, null, {attr: {class: "col-form-label"}}) }}</div>
                        <div class="col-10">{{ form_widget(formItem, {attr: {class: "form-control"}}) }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock body %}

