{% extends 'base.html.twig' %}

{% block title %}Adveris - Projets{% endblock title %}

{% block body %}
    <div class="float-end"><a href="{{ path("app_project_add") }}" class="btn btn-success">Ajouter</a></div>
    <h2>Projets</h2>
    <div id="projects">
        <table id="projects-table">
            <thead>
                <tr>
                    <th>{{ "project.id" | trans }}</th>
                    <th>{{ "project.startdate" | trans }}</th>
                    <th>{{ "project.name" | trans }}</th>
                    <th>{{ "project.pricesold" | trans }}</th>
                    <th>{{ "project.type" | trans }}</th>
                    <th>{{ "project.estimatedtimetocompletion" | trans }}</th>
                    <th>{{ "project.spenttime" | trans }}</th>
                    <th>{{ "project.technology" | trans }}</th>
                    <th>{{ "project.company" | trans }}</th>
                    <th>{{ "project.workers" | trans }}</th>
                    <th>Voir</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.startDate | date("d/m/Y") }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.priceSold }}</td>
                        <td>{{ project.type.name }}</td>
                        <td>{{ project.estimatedTimeToCompletion }}</td>
                        <td>{{ project.spentTime }}</td>
                        <td>{{ project.technology.name }}</td>
                        <td>{{ project.company.name }}</td>
                        <td>
                            {% for worker in project.workers %}
                                {{ worker.name }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="{{ path("app_project_view", {projectId: project.id}) }}" class="btn btn-primary">Voir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{#    <div id="projects">Loading...</div>#}
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>#}
{#    <script>#}
{#        $(function() {#}
{#            #}{#$('#projects').initDataTables({{ datatable_settings(projectsDT) }});#}
{#        });#}
{#    </script>#}
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $(function() {
            $('#projects-table').DataTable();
        });
    </script>
{% endblock javascripts %}

