{% extends 'base.html.twig' %}

{% block title %}Adveris - Projet - {{ project.name }}{% endblock title %}

{% block body %}
    <h2>Projet #{{ project.id }}</h2>
    <div class="card">
        <div class="card-header">
            <div class="btn-group float-end">
                <a href="{{ path("app_project_index") }}" class="btn btn-secondary">Retour</a>
                <a href="{{ path("app_project_edit", {projectId: project.id}) }}" class="btn btn-warning">Editer</a>
            </div>
            <h3>{{ project.name }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2"><b>{{ "project.id" | trans }}</b></div>
                <div class="col-10">{{ project.id }}</div>
            </div>
            <div class="row">
                <div class="col-2"><b>{{ "project.startdate" | trans }}</b></div>
                <div class="col-10">{{ project.startDate | date("d/m/Y") }}</div>
            </div>
            <div class="row">
                <div class="col-2"><b>{{ "project.name" | trans }}</b></div>
                <div class="col-10">{{ project.name }}</div>
            </div>
            <div class="row">
                <div class="col-2"><b>{{ "project.pricesold" | trans }}</b></div>
                <div class="col-10">{{ project.priceSold }}</div>
            </div>
            <div class="row">
                <div class="col-2"><b>{{ "project.type" | trans }}</b></div>
                <div class="col-10">{{ project.type.name }}</div>
            </div>
            <div class="row">
                <div class="col-2"><b>{{ "project.estimatedtimetocomplete" | trans }}</b></div>
                <div class="col-10">{{ project.estimatedTimeToCompletion }}</div>
            </div>
            <div class="row">
                <div class="col-2"><b>{{ "project.spenttime" | trans }}</b></div>
                <div class="col-10">{{ project.spentTime }}</div>
            </div>
            <div class="row">
                <div class="col-2"><b>{{ "project.technology" | trans }}</b></div>
                <div class="col-10">{{ project.technology.name }}</div>
            </div>
            <div class="row">
                <div class="col-2"><b>{{ "project.company" | trans }}</b></div>
                <div class="col-10">{{ project.company.name }}</div>
            </div>
            <div class="row">
                <div class="col-2"><b>{{ "project.workers" | trans }}</b></div>
                <div class="col-10">
                    {% for worker in project.workers %}
                        {{ worker.name }}{% if not loop.last %}<br />{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

